body{
    font-family:montserrat;
}

.card {
    display: block;
    margin:  80px auto ;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 20px;
    border-color: black;
    
}

#search-form{
    margin-bottom: 50px; 
}

#search-city-input{
    background-color:white;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    padding: 12px;
}

#submit-search, #current-location{
    background-color:white;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    padding: 12px;
}

h1{
    font-size: 30px;
    font-weight: bolder;
}

h2, #temperature-status-now{
    font-size: 20px;
    font-weight: bolder;
}

#date{
    font-size: 20px;
    font-weight:normal;
}

#temperature-number-now{
    font-size: 50px;
    font-weight: bolder;
} 


ul{
    margin-left:  0px;
    padding-left: 0px;
    margin-bottom: 40px;
}

li{
    text-transform: capitalize;
    list-style: none;
    margin: 0;
    padding: 0px;
}
  
#units{
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: -20px;
    
}

#units .active{
color:grey;
text-decoration: none;
}

#icon {
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 120px;
    height: 120px;
    }

hr{
    
    border: 1px solid rgb(5, 5, 5);
    border-radius: 1px;
    }

.weather-forecast{
    margin-top: 30px;
    text-align: center;
    color: black;
}

.forecast-date{
    font-size: 16px;
}

.forecast-temp{
    font-size: 14px ;
}

.forecast-temp-max{
    color: black;
}

.forecast-temp-min{
    color:grey;
}

#forecast-icon{
    width:80px;

}
.contact{
    padding: 10px 10px;
    text-align: center;
    font-size: 12px;
}

