body {
    font-family:montserrat;
    height: 100px;
    width: 100%;
    }

.card {
    display: block;
    margin:  40px auto ;
    margin-bottom: 0px;
    padding: 30px;
    border-radius: 20px;
    border-style:none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

#search-form {
    margin-bottom: 50px; 
}

#search-city-input, #submit-search, #current-location {
    background-color:white;
    border-radius: 30px;
    border-width: 1px;
    border-color: black;
    padding: 12px;
}

h1 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: bolder;
}

#date {
    font-size: 20px;
    font-weight:normal;
}

#icon {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: black;
    border-style:none;
    background-color: rgb(241, 233, 203);
}

#temperature-number-now {
    font-size: 60px;
    font-weight: bolder;
} 

#emoji {
    font-size: 25px;
}

#temperature-status-now {
    font-size: 25px;
    font-weight: bolder;
}

hr {
    border-style: solid;
}

ul {
    margin-left:  0px;
    padding-left: 0px;
    margin-bottom: 60px;
}

li {
    text-transform: capitalize;
    list-style: none;
    margin: 0;
    padding: 0px;
}
 
#units {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: -20px;
    }

#units .active {
    color:grey;
    text-decoration: none;
}

#forecast-row {
    align-items: center;
}

#forecast-temp {
    font-size: 25px;
    font-weight: bolder;
 }
  
.weather-forecast {
   margin-top: 30px;
   font-size: 16px ;
   color: black;
}

.forecast-temp-min {
   color: grey;
}

.contact {
   padding: 10px 10px;
   text-align: center;
   font-size: 12px;
}
